.particle {
  position: absolute;
  border-radius: 50%;
}
@keyframes particle-animation-1 {
  100% {
    transform: translate3d(38vw, 2vh, 29px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.48;
  height: 8px;
  width: 8px;
  animation-delay: -0.2s;
  transform: translate3d(56vw, 17vh, 67px);
  background: #d0d926;
}
@keyframes particle-animation-2 {
  100% {
    transform: translate3d(23vw, 47vh, 97px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.48;
  height: 8px;
  width: 8px;
  animation-delay: -0.4s;
  transform: translate3d(53vw, 69vh, 28px);
  background: #d94426;
}
@keyframes particle-animation-3 {
  100% {
    transform: translate3d(62vw, 81vh, 80px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.68;
  height: 10px;
  width: 10px;
  animation-delay: -0.6s;
  transform: translate3d(40vw, 45vh, 30px);
  background: #7ad926;
}
@keyframes particle-animation-4 {
  100% {
    transform: translate3d(8vw, 12vh, 35px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.72;
  height: 10px;
  width: 10px;
  animation-delay: -0.8s;
  transform: translate3d(84vw, 39vh, 52px);
  background: #26d92f;
}
@keyframes particle-animation-5 {
  100% {
    transform: translate3d(72vw, 21vh, 64px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.09;
  height: 8px;
  width: 8px;
  animation-delay: -1s;
  transform: translate3d(18vw, 2vh, 56px);
  background: #d9d026;
}
@keyframes particle-animation-6 {
  100% {
    transform: translate3d(27vw, 32vh, 25px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.88;
  height: 6px;
  width: 6px;
  animation-delay: -1.2s;
  transform: translate3d(37vw, 34vh, 76px);
  background: #26d3d9;
}
@keyframes particle-animation-7 {
  100% {
    transform: translate3d(5vw, 44vh, 39px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.72;
  height: 6px;
  width: 6px;
  animation-delay: -1.4s;
  transform: translate3d(75vw, 62vh, 55px);
  background: #9426d9;
}
@keyframes particle-animation-8 {
  100% {
    transform: translate3d(55vw, 60vh, 99px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.47;
  height: 7px;
  width: 7px;
  animation-delay: -1.6s;
  transform: translate3d(22vw, 79vh, 67px);
  background: #91d926;
}
@keyframes particle-animation-9 {
  100% {
    transform: translate3d(41vw, 24vh, 35px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.6;
  height: 10px;
  width: 10px;
  animation-delay: -1.8s;
  transform: translate3d(60vw, 28vh, 69px);
  background: #26d953;
}
@keyframes particle-animation-10 {
  100% {
    transform: translate3d(23vw, 3vh, 5px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.18;
  height: 9px;
  width: 9px;
  animation-delay: -2s;
  transform: translate3d(52vw, 5vh, 44px);
  background: #77d926;
}
@keyframes particle-animation-11 {
  100% {
    transform: translate3d(56vw, 13vh, 38px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.77;
  height: 9px;
  width: 9px;
  animation-delay: -2.2s;
  transform: translate3d(4vw, 77vh, 82px);
  background: #d92926;
}
@keyframes particle-animation-12 {
  100% {
    transform: translate3d(52vw, 42vh, 64px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.2;
  height: 6px;
  width: 6px;
  animation-delay: -2.4s;
  transform: translate3d(14vw, 26vh, 48px);
  background: #26bbd9;
}
@keyframes particle-animation-13 {
  100% {
    transform: translate3d(66vw, 35vh, 76px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.96;
  height: 7px;
  width: 7px;
  animation-delay: -2.6s;
  transform: translate3d(80vw, 68vh, 91px);
  background: #d95026;
}
@keyframes particle-animation-14 {
  100% {
    transform: translate3d(79vw, 12vh, 12px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.87;
  height: 6px;
  width: 6px;
  animation-delay: -2.8s;
  transform: translate3d(83vw, 87vh, 21px);
  background: #d9c426;
}
@keyframes particle-animation-15 {
  100% {
    transform: translate3d(24vw, 29vh, 40px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.99;
  height: 7px;
  width: 7px;
  animation-delay: -3s;
  transform: translate3d(73vw, 42vh, 25px);
  background: #8826d9;
}
@keyframes particle-animation-16 {
  100% {
    transform: translate3d(55vw, 49vh, 27px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.9;
  height: 10px;
  width: 10px;
  animation-delay: -3.2s;
  transform: translate3d(89vw, 42vh, 75px);
  background: #2685d9;
}
@keyframes particle-animation-17 {
  100% {
    transform: translate3d(20vw, 38vh, 86px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.46;
  height: 6px;
  width: 6px;
  animation-delay: -3.4s;
  transform: translate3d(68vw, 21vh, 27px);
  background: #d92644;
}
@keyframes particle-animation-18 {
  100% {
    transform: translate3d(86vw, 3vh, 54px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.85;
  height: 8px;
  width: 8px;
  animation-delay: -3.6s;
  transform: translate3d(37vw, 38vh, 71px);
  background: #d98026;
}
@keyframes particle-animation-19 {
  100% {
    transform: translate3d(44vw, 45vh, 52px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.45;
  height: 6px;
  width: 6px;
  animation-delay: -3.8s;
  transform: translate3d(61vw, 6vh, 88px);
  background: #2635d9;
}
@keyframes particle-animation-20 {
  100% {
    transform: translate3d(46vw, 62vh, 13px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.67;
  height: 10px;
  width: 10px;
  animation-delay: -4s;
  transform: translate3d(6vw, 9vh, 50px);
  background: #26d9d0;
}
@keyframes particle-animation-21 {
  100% {
    transform: translate3d(62vw, 8vh, 80px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.12;
  height: 8px;
  width: 8px;
  animation-delay: -4.2s;
  transform: translate3d(16vw, 40vh, 82px);
  background: #d92659;
}
@keyframes particle-animation-22 {
  100% {
    transform: translate3d(29vw, 63vh, 19px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.58;
  height: 8px;
  width: 8px;
  animation-delay: -4.4s;
  transform: translate3d(66vw, 41vh, 55px);
  background: #26a6d9;
}
@keyframes particle-animation-23 {
  100% {
    transform: translate3d(47vw, 61vh, 74px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.83;
  height: 10px;
  width: 10px;
  animation-delay: -4.6s;
  transform: translate3d(8vw, 45vh, 75px);
  background: #26d9a9;
}
@keyframes particle-animation-24 {
  100% {
    transform: translate3d(81vw, 82vh, 24px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.61;
  height: 10px;
  width: 10px;
  animation-delay: -4.8s;
  transform: translate3d(76vw, 17vh, 88px);
  background: #d92668;
}
@keyframes particle-animation-25 {
  100% {
    transform: translate3d(8vw, 19vh, 98px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.95;
  height: 9px;
  width: 9px;
  animation-delay: -5s;
  transform: translate3d(35vw, 24vh, 82px);
  background: #b526d9;
}
@keyframes particle-animation-26 {
  100% {
    transform: translate3d(32vw, 7vh, 7px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.43;
  height: 10px;
  width: 10px;
  animation-delay: -5.2s;
  transform: translate3d(14vw, 25vh, 54px);
  background: #d9d926;
}
@keyframes particle-animation-27 {
  100% {
    transform: translate3d(19vw, 21vh, 19px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.36;
  height: 7px;
  width: 7px;
  animation-delay: -5.4s;
  transform: translate3d(11vw, 50vh, 37px);
  background: #26d944;
}
@keyframes particle-animation-28 {
  100% {
    transform: translate3d(6vw, 28vh, 65px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.24;
  height: 7px;
  width: 7px;
  animation-delay: -5.6s;
  transform: translate3d(52vw, 3vh, 49px);
  background: #d92638;
}
@keyframes particle-animation-29 {
  100% {
    transform: translate3d(24vw, 13vh, 60px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.96;
  height: 8px;
  width: 8px;
  animation-delay: -5.8s;
  transform: translate3d(5vw, 72vh, 40px);
  background: #267dd9;
}
@keyframes particle-animation-30 {
  100% {
    transform: translate3d(71vw, 6vh, 35px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.99;
  height: 7px;
  width: 7px;
  animation-delay: -6s;
  transform: translate3d(23vw, 17vh, 98px);
  background: #d98826;
}
